// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere


//
// Color system
//

/**
* $blue:    #007bff !default;
* $indigo:  #6610f2 !default;
* $purple:  #6f42c1 !default;
* $pink:    #e83e8c !default;
* $red:     #dc3545 !default;
* $orange:  #fd7e14 !default;
* $yellow:  #ffc107 !default;
* $green:   #28a745 !default;
* $teal:    #20c997 !default;
* $cyan:    #17a2b8 !default;
*/

$primary:    #7C008C; //$blue !default;
//$secondary:  #6c757d; //$gray-600 !default;
//$success:    #28a745  //$green !default;
//$info:       #17a2b8  //$cyan !default;
//$warning:    #ffc107  //$yellow !default;
//$danger:     #dc3545  //$red !default;
//$light:      #f8f9fa  //$gray-100 !default;
//$dark:       #343a40  //$gray-800 !default;


// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-caret:                                true;
$enable-rounded:                              true;
$enable-shadows:                              false;
$enable-gradients:                            false;
$enable-transitions:                          true;
$enable-prefers-reduced-motion-media-query:   true;
$enable-hover-media-query:                    false; // Deprecated, no longer affects any compiled CSS
$enable-grid-classes:                         true;
$enable-pointer-cursor-for-buttons:           true;
$enable-print-styles:                         true;
$enable-responsive-font-sizes:                false;
$enable-validation-icons:                     true;
$enable-deprecation-messages:                 true;