/**
 * Admin styles
 */

 /**
  * Advanced Custom Fields Bottom Metabox
  * * experimental sticky positioning
  */
  .edit-post-layout__content .edit-post-layout__metaboxes {
    position: sticky;
    bottom: 0;
    background-color: #fff;
    max-height: 50vh;
    overflow-y: auto;
    z-index: 999;
  }